@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-primary: #006c49;
  --color-primary-container: #10b981;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #00422b;
  --color-background: #f7f9fb;
  --color-surface-bright: #f7f9fb;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #3c4a42;
  --color-outline-variant: #bbcabf;
  --color-secondary-container: #d5e0f8;
  --color-on-secondary-container: #586377;
}

@layer base {
  body {
    @apply font-sans antialiased bg-background text-on-surface;
  }
}
